@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;700&display=swap');
@import url('./variables.css');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: var(--color-background);
}

.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card {
    height: 40rem;
    width: 70rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: var(--color-white);
    box-shadow: var(--box-shadow);
}

.left {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: var(--color-light);
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 1.2rem;
}

.right .logo {
    display: flex;
    align-items: center;
    height: 30%;
}

.right .logo img {
    width: 180px;
}

.right .login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    width: 60%;
    height: 70%;
}

.right .login-form h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.right .login-form form {
    width: 100%;
}

.right .login-form .login-form__input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}


.right .login-form .login-form__input input {
    margin-top: 10px;
    margin-bottom: 14px;
    background-color: var(--color-light);
    padding: 0.8rem;
    border-radius: var(--border-radius-2);
    width: 100%;
}

.right .login-form form button {
    background-color: var(--color-primary);
    border-radius: var(--border-radius-2);
    padding: 0.8rem;
    font-size: 1rem;
    font-family: 'Poppins';
    font-weight: 500;
    color: var(--color-white);
    cursor: pointer;
    width: 100%;
}

.error-msg {
    display: flex;
    align-items: center;
    background-color: #ff7782ab;
    margin-bottom: 10px;
    padding: 10px;
    color: var(--color-white);
    border-radius: 10px;
    transition: height 200ms ease;
    display: none;
}

.error-msg.active {
    display: flex;
}